<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>helloservlet</servlet-name>
    <servlet-class>com.zck.day29.Helloservlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloservlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>jdbcUrl</param-name>
    <param-value>jdbc:mysql://</param-value>
  </context-param>
  <servlet>
    <servlet-name>secondservlet</servlet-name>
    <servlet-class>com.zck.day29.secondServlet</servlet-class>
    <init-param>
      <param-name>user</param-name>
      <param-value>pyt</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>520</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>loginServlet3</servlet-name>
    <servlet-class>com.zck.day29.LoginServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet3</servlet-name>
    <url-pattern>/loginServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hellojsp</servlet-name>
    <jsp-file>/hello.jsp</jsp-file>
    <init-param>
      <param-name>test</param-name>
      <param-value>testvalue</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>hellojsp</servlet-name>
    <url-pattern>/hellojsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forwardServlet</servlet-name>
    <servlet-class>com.zck.day29.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forwardServlet</servlet-name>
    <url-pattern>/forwardServlet</url-pattern>
  </servlet-mapping>

    <servlet>
    <servlet-name>redirectServlet</servlet-name>
    <servlet-class>com.zck.day29.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirectServlet</servlet-name>
    <url-pattern>/redirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>testservlet</servlet-name>
    <servlet-class>com.zck.day29.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testservlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
</web-app>